secrets.ini
.env

*.mp3
*.wav
*.raw
*.flac
*.txt
*.log
*.log.*

# Load test results and credentials
tests/perf/results/
tests/perf/extensions.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
audios/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.null-ls_*.py
